name: Tests

on:
  push:
    branches: [main]
  pull_request:

jobs:
  rust-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Cache build
        uses: actions/cache@v4
        with:
          path: target
          key: cargo-test-${{ hashFiles('Cargo.lock') }}

      - name: Download test inputs
        run: bin/download-local-test-data.sh

      - name: Run rust tests
        run: |
          cargo test --release

  web-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: 'npm'
          cache-dependency-path: web/package-lock.json

      - name: Install wasm-pack
        uses: jetli/wasm-pack-action@v0.4.0

      - name: Cache WASM build
        uses: actions/cache@v3
        with:
          path: target
          key: cargo-wasm-test-${{ hashFiles('Cargo.lock') }}

      - name: Build and test
        run: |
          cd web
          npm ci
          npm run wasm
          # typechecking requires the wasm build
          npm run check
          npm test
