name: Deploy web

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install node
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: 'npm'
          cache-dependency-path: web/package-lock.json

      - name: Install wasm-pack
        uses: jetli/wasm-pack-action@v0.4.0

      - name: Cache WASM build
        uses: actions/cache@v3
        with:
          path: backend/target
          key: cargo-wasm-${{ hashFiles('backend/Cargo.lock') }}

      - name: Build web app
        run: |
          cd web
          npm ci
          npm run wasm-release
          npm run build --if-present -- --base=/ltn/

          # TODO Vite suddenly broke and I have no idea why. Hack around it.
          # new URL('backend_bg.wasm', import.meta.url) doesn't exist at build time, it will remain unchanged to be resolved at runtime
          ln -s assets/backend_bg.wasm dist/

      - name: Publish
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./web/dist/
